/* ------ Подключение шрифтов ------ */

@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS *100*/
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 900';
  src: url('../fonts/MuseoSansCyrl-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Natasha';
  src: url('../fonts/Natasha.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Natasha.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Natasha.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/* ------ Спецификация ------ */

body {
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 15px;
	color: #fff;
	padding: 0;
	letter-spacing: 0.02em;
	margin: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
    line-height: 1.4em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Natasha';
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}

h1 {
	font-size: 49px;
}

h2 {
	font-size: 37px;
	color: #22241b;
}

h3 {
	font-size: 22px;
	color: #888886;
}

h4 {
	font-size: 16px;
	letter-spacing: 0.1em;
}

h5 {
	font-size: 10px;
	letter-spacing: 0.1em;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

.btn {
	background: #82c83d;
	color: #fff;
	border-radius: 100px;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Museo Sans 900';
	width: 204px;
	padding: 20px 0;
	display: block;
	margin: 0 auto;
}

.btn:hover {
	background: #6fb926;
	color: #fff;
}


/* ------ Первый экран ------ */

.header {
	background: #161810 url(../img/myimage.png) no-repeat center top/cover;
	padding-top: 52px;
	padding-bottom: 82px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.12em;
}

.header a {
	color: #fff;
}

.nav__logo {
	font-size: 17px;
	font-family: 'Museo Sans 900';
}

.header__logo-i {
	font-family: 'Museo Sans 100';
}

.nav__list {
	font-family: 'Museo Sans 900';
}

.nav__item {
	margin-right: 48px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__item:hover {
	border-bottom: 1px solid #fff;
}

.nav__site {
	font-size: 13px;
	text-transform: none;
	font-family: 'Museo Sans 300';
	border-bottom: 1px solid #666865;
	line-height:1.8em;
}

.nav__site:hover {
border-bottom: 1px solid #fff;
}

.offer {
	margin-top: 290px;
	text-align: center;
}

.offer__added {
	font-family: 'Museo Sans 100';
	font-size: 29px;
	margin-top: 18px;
}

.arrow-down {
	font-size: 17px;
	width: 40px;
	height: 40px;
	display: block;
	background: transparent;
	color: #b1b1af;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 0 auto;
	text-align: center;
	line-height: 35px;
    margin-top: 252px;
    letter-spacing: 0px;
}

.arrow-down:hover {
	background: #fff;
	color: #000;
	border: 1px solid #fff;
}

/* ------ About me ------ */

.about-me {
	padding-top: 82px;
}

.about-me__main {
	padding-top:71px;
}

.background {
	width: 443px;
	flex-direction: column;
}

.background__name {
	margin-bottom: 39px;
}

.background__item {
	font-size: 15px;
	color: #3d3e38;
	line-height:1.8em;
	margin-bottom: 29px;
}

.merits__title {
	margin-bottom: 60px;
}

.merits__item {
	font-family: 'Museo Sans 100';
	width: 105px;
	margin-right: 56px;
}

.merits__item:last-child {
	margin-right: 20px;
}

.merits__item:first-child {
	margin-left: 17px;
}

.merits__rhombus {
	width: 72px;
	border: 1px solid #3e6534;
	height: 72px;
	text-align: center;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    transform:rotate(45deg);
    color: #204d15;
    margin-left:20px;
}

.merits__digits {
	transform: rotate(-45deg);
	font-size: 20px;
}

.merits__text {
	color: #22241b;
	font-size: 12px;
	text-transform: uppercase;
	position:relative;
	left:7px;
	text-align: center;
}

.merits__rhombus:before {
	content:'';
	display: block;
	position: absolute;
	width: 56px;
	height: 56px;
	border: 1px solid #cddbc3;
	top:7px;
	left: 7px;
}

.contact {
	margin-top: 62px;
}

.contact__block {
	margin-top: 34px;
}

.contact__links {
	flex-direction: column;
}

.contact__link {
	margin-bottom: 17px;
	margin-left:6px;
}

.contact__link-i:hover {
	color: #000;
	border-bottom: 1px solid #000;
	font-size: 15px;
}

.contact__link-i {
	border-bottom: 1px solid #becbbb;
	color: #204d15;
	font-size: 14px;
	letter-spacing: 0.12em;
}

.contact__link:last-child {
	margin-bottom: 0;
}

.icon {
	font-family: 'Stroke-Gap-Icons';
	color: #204d15;
	font-size: 25px;
	text-align:center;
}

.icon:before {
	display: block;
	background: #eef1ed;
	width: 64px;
	line-height: 64px;
	border-radius: 50%;
}


/* ------ Skills ------ */

.skills {
	padding-top: 62px;
	letter-spacing: 0.12em;
}

.skills__list {
	margin-top: 58px;
}

.skills__item {
	color: #204d15;
	width: 222px;
}

.skills__circle {
	font-family: 'Museo Sans 100';
	font-size: 13px;
	width: 61px;
	height: 61px;
	border: 1px solid #204d15;
	text-align: center;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    color: #204d15;
    border-radius: 50%;
    left:2px;
}

.skills__circle:before {
	content:'';
	display: block;
	position: absolute;
	width: 49px;
	height: 49px;
	border: 1px solid #cddbc3;
	border-radius: 50%;
	top:4px;
	left: 4px;
}

.skills__text {
	font-family: 'Museo Sans 900';
	font-size: 15px;
	margin-left: 27px;
	text-transform: uppercase;
	width: 115px;
}

/* ------ Works ------ */

.works__title {
	margin-top: 82px;
}

.works-list {
	margin-top: 54px;
}

.works-list__item {
	width: 296px;
	transition: all 0.5s ease;
}

.works-list__overlay {
	background: rgba(0,0,0,0.56);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works-list__wrap {
	position: relative;
    transition: all 0.5s ease;
}

.works-list__wrap:hover .works-list__overlay  {
	opacity: 1;
}

.works-list__name {
	font-family: 'Museo Sans 900';
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.works-list__img {
	display: block;
	margin: 0 auto;
}

.works-list__link {
	font-size: 13px;
	font-family: 'Museo Sans 300';
	color: #fff;
	border-bottom: 1px solid #fff;
}

.works-list__link:active {
	color: #d3daf0;
	border-bottom: 1px solid #d3daf0;
}

/* ------ Footer ------ */

.footer {
	font-size: 11px;
	color: #888886;
	padding-bottom: 109px;
	padding-top: 121px;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {
	
}

/* 768-992px */
@media screen and (max-width: 992px) {
	.container {
		width: 700px;
	}
	.nav__item{
		font-size:12px
	}
	h1 {
		font-size: 45px;
	}
	.offer__added{
		font-size: 25px;
	}
	.about-me__main {
		flex-direction: column;
	}
	.background, .deserts {
		width:100%;
	}
	.merits__list{
		justify-content:space-around;
	}
	.merits__title{
		margin-top:20px;
	}
	.merits__item:last-child{
		margin-right:56px;
	}
	.contact__admin {
		margin-left:30px;
	}
	.works-list {
		flex-wrap: wrap;
		justify-content: center;	
	}
	.works-list__wrap {
		margin:10px;
	}
	.works-list__img {
		width: 100%;
	}
	.contact__block {
		justify-content:space-between;
	}
	.skills__text {
	width:45%;
	}
	.skills__item:first-child {
		margin-right:15px;
	}
}

/* 576-768px */
@media screen and (max-width: 768px) {
	.container {
		width: 520px;
	}
	.nav__item{
		font-size:0;
	}
	.about-me__main {
		padding-top:45px;
	}
	.deserts {
		margin-top:15px;
	}
	.contact__link {
		text-align: center;
	}
	.contact__admin{
		justify-content: center;
		margin-left: 0;
	}
	.skills__list{
		flex-wrap:wrap;
		justify-content:space-around;
	}
	.skills__item{
		margin-bottom:25px;
	}	
	.skills__item:nth-child(2n){
		margin-right:0;
	}
	.footer {
		font-size: 10px;
	}

}

/* 320-576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.nav {
		flex-wrap: wrap;
	}
	.nav__logo {
		margin-bottom: 20px;
	}
	.nav__site{
		margin-bottom: 20px;
	}
	.offer {
		margin-top: 250px;
	}
	.merits__list{
		flex-wrap: wrap;
		align-items:center;
	}

	.merits__item {
		margin:25px; 
	}
	.contact__link{
		flex-direction:column;
	}
	.merits__item:nth-child(-n+3){
		margin:25px;
	}
	.contact__block{
		flex-direction:column;
	}
	.contact__admin{
		margin-top:40px;
		margin-left:0;
		margin-bottom:20px;
	}
	.skills__item:nth-child(-n+4){
		justify-content:flex-start;
		margin-right:0;
	}
	.works-list__wrap{
		margin-bottom:30px;
		width:70%;
	}
	.works-list__wrap:last-child{
		margin-bottom:0px;
	}
}